.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 900;
}

.modalForm {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
}

/* css for the sun */
.modalForm__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  min-width: 820px;
  background: rgb(191, 240, 152);
  background: linear-gradient(
    45deg,
    rgba(191, 240, 152, 1) 0%,
    rgba(111, 214, 255, 1) 100%
  );
  border-radius: 50px;
  transition: all 0.3s ease-in-out 0;
  animation: pop-in 0.4s ease 0s 1 forwards;
}

.modalForm__close {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-image: url("../../../images/close_button.png");
  background-size: contain;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.modalForm__title {
  margin: 0;
}

.modalForm__form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.modalForm__buttons {
}

@keyframes pop-in {
  0% {
    opacity: 1;
    transform: scale(1) translateY(5px);
  }
  50% {
    opacity: 1;
    transform: scale(1.05) translateY(-5px);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(0px);
  }
}

@keyframes slideX {
  from {
    opacity: 0;
    transform: scaleX(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1);
  }
}

@media (max-width: 850px) {
  .modalForm__container {
    min-width: 280px;
  }
}

@media (max-width: 280px) {
  .modalForm__container {
    min-width: 160px;
  }
}
