.footer {
  margin: 0 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__tag {
  color: #000;
  font-family: "Cabinet Grotesk", Arial, Helvetica, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}
