.modalFormLogin__button_submit {
  margin: 30px 0 50px;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(183, 183, 183, 1) 100%
  );
}

.modalFormLogin__top-buttons {
  margin: 50px 40px 0;
  display: flex;
  gap: 20px;
}

.modalFormLogin__button-alt {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(183, 183, 183, 1) 100%
  );
}

.modalFormLogin__lookalikebutton {
  background: rgb(244, 255, 178);
  background: linear-gradient(
    0deg,
    rgba(244, 255, 178, 1) 0%,
    rgba(255, 213, 38, 1) 100%
  );
}

.modalFormLogin__info {
  padding-top: 55px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 580px;
  font-family: "Merge One", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
}

.modalFormLogin__label {
  padding-bottom: 20px;
}

.modalFormLogin__input {
  padding-left: 20px;
  margin-bottom: 20px;
  width: 96%;
  font-family: "Merge One", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  /* line-height: 1.2; */
  line-height: 50px;
  border-radius: 50px;
  border: none;
}

.modalFormLogin__password-input {
  position: relative;
  width: 100%;
}

.show-password {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  border: none;
  background: url("../../../images/private-eye.png");
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

.hide-password {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 20px;
  height: 20px;
  border: none;
  background: url("../../../images/eye.png");
  background-size: cover;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

@media (max-width: 850px) {
  .modalFormLogin__info {
    width: 280px;
  }
}

@media (max-width: 450px) {
  .modalFormLogin__top-buttons {
    flex-direction: column;
  }
  .modalFormLogin__info {
    width: 150px;
    padding-top: 30px;
  }
  .modalFormLogin__label {
    display: none;
  }
  .modalFormLogin__input {
    margin-bottom: 0.5rem;
    font-size: 16px;
    line-height: 30px;
  }
  #passwordPrivateIcon {
    top: 0.4rem;
    right: 0;
  }
}

@media (max-width: 280px) {
  .modalFormLogin__info {
    width: 150px;
  }
}
